body, p, div, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    user-select: none;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

h3.eletitle {
    font-size: 20px;
}
span.eleName {
    font-size: 17px;
    color: #375EAB;
}
span.eleType {
    font-size: 17px;
    font-weight: bold;
    color: #375EAB;
}

button.end-button {
    padding: 10px;
    background-color: #375EAB;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

div.clear {
    clear: both;
}

div.invisible {
    display: none;
}

div.topbar {
    background-color: #E0EBF5;
    height: 60px;
    width: 100%;
    position: relative;
}

div.topbar-title {
    color: #222;
    font-size: 20px;
    position: absolute;
    top: 14px;
    left: 20px;
}

div.topbar-controls {
    position: absolute;
    right: 10px;
    height: 100%;
}

div.topbar-controls > input {
    display: block;
    float: left;
    border: none;
    height: 35px;
    margin: 12px;
    padding: 0px 10px;
    font-size: 20px;
    font-family: Menlo, monospace;
}

div.topbar-controls > button {
    margin: 10px 5px;
    padding: 7px;
    float: left;
    background-color: #375EAB;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #375EAB;
    border-radius: 5px;
}

div.panel {
    margin-bottom: 50px;
}

h1.svctitle {
    display: block;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #375EAB;
    margin: 20px 20px;
}

li.end, li.typeref-item {
    display: block;
    margin: 20px;
    font-size: 20px;
}

li.end > div.end-title {
    background-color: #E0EBF5;
    color: #375EAB;
    padding: 8px;
    cursor: pointer;
    user-select: none;
}

div.end-desc {
    padding: 10px;
    border: 2px solid #E0EBF5;
}

div.end-desc div.end-desc-split {
    float: left;
    width: 47%;
    margin-left: 10px;
}

div.end-input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #375EAB;
    background: #FFFFD8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow-y: hidden;
}

div.end-input > textarea {
    border: none;
    outline: none;
    resize: none;
    overflow-y: scroll;

    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Menlo, monospace;

    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    white-space: pre-wrap;
    word-wrap: break-word;

    display: inline-block;
    text-align: start;

    background-color: #FFFFD8;
    width: 100%;
    height: 250px;
}
div.end-output {
    border: 1px solid #375EAB;
    background: #FFFFD8;
    border-top: none !important;
    padding: 10px;
    min-height: 30px;
    max-height: 200px;
    overflow: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
div.end-buttons {
    font-family: Arial, sans-serif;
    font-size: 16px;
    float: right;
    padding: 20px 0 10px 0;
    text-align: right;
}
div.end-buttons > a.button {
    color: #222;
    border: 1px solid #375EAB;
    background: #E0EBF5;
    height: 16px;
    margin-left: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: right;
}
